@charset "utf-8";

.search_form {
	position: fixed;
	width: inherit;
	top: 0.5rem;
	background-color: #f5f5f5;
	padding: 0.7em 1em;
	border-radius: 10em;
}
.search_input {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.3em;
	color: #888;
}
.search_input label {
	display: inline-block;
	margin-top: 0.1em;
}
.search_input input[type='text'] {
	background: none;
	flex: auto;
}
.search_input input[type='text']:focus {
	border-bottom: 1px solid #ddd;
}
