@charset 'utf-8';

.container_wrap {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.container_wrap section {
}
.container_wrap h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

.no_list {
	text-align: center;
	padding: 1rem 0;
	font-size: 1.2rem;
	font-weight: bold;
}
