@charset "utf-8";
.main_container {
	display: flex;
	width: 100%;
	height: 100dvh;
	align-items: stretch;
	background-color: #fff;
}

.main_lf_wrap {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	flex-grow: 1;
}
.lf_section {
	width: 18em;
	padding: 0 0.5em;
	height: 100dvh;
	position: relative;
}

/* right */
.main_rg_wrap {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-grow: 1;
	height: 100dvh;
}
.main_rg_inner {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 100%;
	width: 55em;
	gap: 1em;
}

.main {
	flex: auto;
	background-color: azure;
}
.rg_section {
	width: 18em;
	background-color: aquamarine;
}
.rg_search_con {
	margin-bottom: 4em;
	width: inherit;
}
